.friendsHeader {
  color: #fff;
  text-align: center;
}

.friendWrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 500px) {
  .friendsBlock {
    display: none;
  }
}
