.form {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 40px;
  border: 4px solid black;
}

.form > div {
  text-align: center;
}


.contactsFields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.contactField {
  margin: 0 10px;
}

.errorMessage {
  margin-top: 40px;
  color: red;
  padding: 20px;
  border: 4px solid red;
}
