.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282C34;
  color: #ffffff;
  grid-area: header;
}

.headerWrap {
  display: flex;
  margin-left: 20px;
}

.user {
  margin-right: 20px;
}

.header img {
  width: 52px;
  height: 49px;
}

.header h1 {
  font-size: 1.4em;
  padding-left: 10px;
  padding-right: 10px;
  color: #61dafb;
}

.buttonLink {
  text-decoration: none;
}


