.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282C34;
  color: #ffffff;
  grid-area: header;
}

.headerWrap {
  display: flex;
  margin-left: 20px;
}

.user {
  margin-right: 20px;
}

.header img {
  width: 52px;
}

.header h1 {
  font-size: 1.4em;
  padding-left: 10px;
  padding-right: 10px;
  color: #61dafb;
}

.buttonLink {
  text-decoration: none;
}

@media (max-width: 500px) {
  .headerWrap {
    margin-left: 5px;
  }

  .user {
    margin-right: 5px;
  }

  .header img {
    width: 45px;
  }
}
