.sidebar {
  background-color: #20232A;
  grid-area: sidebar;
  padding: 20px;
}

.sidebar a {
  text-decoration: none;
  color: white;
}

.sidebar .active {
  color: #61dafb;
}

@media (max-width: 500px) {
  .sidebar {
    display: flex;
    justify-content: space-around;
    padding: 10px 3px;
  }
}
