
body {
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: Arial, sans-serif;
}

.app-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 5fr;
}

.app-wrapper-content {
  position: relative;
  background-color: #ffffff;
  grid-area: content;
  border-right: 4px solid #20232A;
  border-bottom: 4px solid #20232A;
}

.prototypePage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}





