.app-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "header header"
  "sidebar content";
  grid-template-rows: 80px 1fr;
  grid-template-columns: 1fr 5fr;
  grid-gap: 15px;
}

.app-wrapper-content {
  background-color: #a4eea4;
  grid-area: content;
}





